@model Axe.Models.ExamAttempt

@{
    ViewData["Title"] = Model.Task?.Technology?.Name + " Exam";
}


@section Scripts
{    
    @if (Model.Id > 0)
    {
        <script src="~/js/exams.take.js"></script>
    }
}

<br />

<form id="examForm" asp-action="Take" asp-controller="Exams" method="post">
    <div class="jumbotron">
        <h2><kbd>@Model.Task.Title</kbd></h2>
        <p>
            @Model.Task.Objective
        </p>
    </div>

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.TaskId" />

    <div class="row" id="tabsContainer">
        <div class="col-sm-11">
            @*exam navigation*@
            <ul id="questionsTab" class="nav nav-tabs">
                @foreach (var item in Model.Questions.Select((q, i) => new { Question = q, Idx = i }))
                {
                var active = item.Idx == 0 ? "active" : null;
                    <li class="@active"><a href="#q_@item.Idx" data-toggle="tab"> #@(item.Idx + 1)</a></li>
                }
            </ul>

            @*questions content*@
            <div class="tab-content">
                <br />
                @for (int idx = 0; idx < Model.Questions.Count; idx++)
                {
                    var isFirstQuestion = idx == 0 ? "in active" : null;

                    <div id="q_@idx" class="tab-pane fade @isFirstQuestion">

                        <p class="codeblock md">@Model.Questions[idx].TaskQuestion.Text</p>

                        <input type="hidden" asp-for="@Model.Questions[idx].TaskQuestionId" />
                        
                        <hr />

                        @if (Model.Questions[idx].TaskQuestion.WithUserInput)
                        {
                            <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[0].TaskAnswerId" />                            

                            if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.MultiLine)
                            {
                                <textarea asp-for="@Model.Questions[idx].AttemptAnswers[0].Value" class="form-control" rows="4"></textarea>
                            }
                            else
                            {
                                @Html.EditorFor(m=>m.Questions[idx].AttemptAnswers[0].Value)
                            }
                        }
                        else
                        {
                            <div class="form-group answersGroup">
                                <div class="col-md-6">
                                    <ul class="list-unstyled" >
                                        @for (int a = 0; a < Model.Questions[idx].AttemptAnswers.Count; a++)
                                        {
                                            @if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.PrioritySelection &&
                                                 Model.Questions[idx].AttemptAnswers[a].Value != null)
                                            {
                                                continue;
                                            }

                                            <li draggable="true" id="A_@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId">
                                                <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId" />

                                                @if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.MultiChoice)
                                                {
                                                    @Html.CheckBoxFor(m => m.Questions[idx].AttemptAnswers[a].IsSelected)
                                                }
                                                else if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.SingleChoice)
                                                {
                                                    <input asp-for="@Model.Questions[idx].SelectedAnswerId" type="radio" value="@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId" />
                                                }
                                                else
                                                {
                                                    <span style="display:none" class="glyphicon glyphicon-flash bg-danger"></span>

                                                    <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[a].Value" class="answerNumber"/>
                                                }

                                                <span>@Model.Questions[idx].AttemptAnswers[a].TaskAnswer.Text</span>
                                            </li>
                                        }
                                    </ul>
                                </div>
                                @if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.PrioritySelection)
                                {
                                    <div class="col-md-6">
                                        <ol class="dropArea">
                                            @foreach (var answer in @Model.Questions[idx].AttemptAnswers.Where(a => a.Value != null).OrderBy(a => int.Parse(a.Value)))
                                            {
                                                int a = @Model.Questions[idx].AttemptAnswers.IndexOf(answer);

                                                <li draggable="true" id="A_@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId">
                                                    <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId" />

                                                    <span class="glyphicon glyphicon-flash bg-danger"> </span>

                                                    <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[a].Value" class="answerNumber" />

                                                    <span>@Model.Questions[idx].AttemptAnswers[a].TaskAnswer.Text</span>
                                                </li>
                                            }
                                        </ol>
                                    </div>
                                }
                            </div>
                        }

                    </div>
                }
            </div>            
        </div>

        <div class="col-sm-1">
            <button class="btn btn-primary" name="cmd" value="final">Submit</button>            
        </div>  
    </div>

    <hr />
    <div class="form-group">        
        <div class="btn-group">
            <span id="qPrevious" class="btn btn-default">Previous</span>
            <span id="qNext" class="btn btn-primary">&nbsp; Next &nbsp;</span>
        </div>
    </div>

</form>


