@model Axe.Models.ExamAttempt

@{
    ViewData["Title"] = Model.Task?.Technology?.Name + " Exam";
}

@if (Model.Id > 0)
{
@section Scripts
{
    <script src="~/js/exams.take.js"></script>
}
}

<br />

<form id="examForm" asp-action="Take" asp-controller="Exams" method="post">
    <div class="jumbotron">
        <h2><kbd>@Model.Task.Title</kbd></h2>
        <p>
            @Model.Task.Objective
        </p>
    </div>

    <input type="hidden" asp-for="@Model.Id" />
    <input type="hidden" asp-for="@Model.TaskId" />

    <div class="row">
        <div class="col-sm-11">
            @*exam navigation*@
            <ul id="questionsTab" class="nav nav-tabs">
                @foreach (var item in Model.Questions.Select((q, i) => new { Question = q, Idx = i }))
                {
                var active = item.Idx == 0 ? "active" : null;
                    <li class="@active"><a href="#q_@item.Idx" data-toggle="tab"> #@(item.Idx + 1)</a></li>
                }
            </ul>

            @*questions content*@
            <div class="tab-content">
                <br />
                @for (int idx = 0; idx < Model.Questions.Count; idx++)
                {
                    var isFirstQuestion = idx == 0 ? "in active" : null;

                    <div id="q_@idx" class="tab-pane fade @isFirstQuestion">

                        <p class="codeblock">@Model.Questions[idx].TaskQuestion.Text</p>

                        <input type="hidden" asp-for="@Model.Questions[idx].TaskQuestionId" />
                        
                        <hr />

                        @if (Model.Questions[idx].TaskQuestion.WithUserInput)
                        {
                            <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[0].TaskAnswerId" />                            

                            if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.MultiLine)
                            {
                                <textarea asp-for="@Model.Questions[idx].AttemptAnswers[0].Value" class="form-control" rows="4"></textarea>
                            }
                            else
                            {
                                @Html.EditorFor(m=>m.Questions[idx].AttemptAnswers[0].Value)
                            }
                        }
                        else
                        {
                            <ul>
                                @for (int a = 0; a < Model.Questions[idx].AttemptAnswers.Count; a++)
                                {
                                    <li class="radio">
                                        <input type="hidden" asp-for="@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId" />

                                        @if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.MultiChoice)
                                        {
                                            @Html.CheckBoxFor(m => m.Questions[idx].AttemptAnswers[a].IsSelected)
                                        }
                                        else if (Model.Questions[idx].TaskQuestion.Type == Axe.Models.TaskQuestionType.SingleChoice)
                                        {
                                            <input asp-for="@Model.Questions[idx].SelectedAnswerId" type="radio" value="@Model.Questions[idx].AttemptAnswers[a].TaskAnswerId" />
                                        }
                                        else
                                        {
                                            <select asp-for="@Model.Questions[idx].AttemptAnswers[a].Value" asp-items="@Model.Questions[idx].PriorityOptions">
                                                <option>=</option>
                                            </select>
                                        }

                                        <span>@Model.Questions[idx].AttemptAnswers[a].TaskAnswer.Text</span>
                                    </li>
                                }
                            </ul>
                        }

                    </div>
                }
            </div>
        </div>

        <div class="col-sm-1">
            <button class="btn btn-primary" name="cmd" value="final">Submit</button>            
        </div>  
    </div>

  
</form>


