@using Axe.Models
@model Axe.ViewModels.CompilerVm.CodeBlockTaskVm

@{
    ViewData["Title"] = "Add new task";
}

@section Scripts
{
    <script src="~/js/compiler.create.js"></script>
}

<h2>Add new task</h2>

<form id="formCreate" asp-controller="Compiler" asp-action="Create" method="post">
    <div class="form-group">
        <label asp-for="Task"></label>
        <textarea asp-for="Task" class="form-control"></textarea>
        <span asp-validation-for="Task" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="OutputType"></label>
        <select asp-for="OutputType" asp-items="Html.GetEnumSelectList<SupportedType>()" class="form-control"></select>
        <span asp-validation-for="OutputType" class="text-danger"></span>
    </div>

    <div id="testCasesFormGroup" class="form-group">
        <label asp-for="TestCases"></label>
        <span asp-validation-for="TestCases" class="text-danger"></span>
        <input id="input_0" name="TestCases[0].Input" class="form-control" placeholder="input_0" value="@Model.TestCases[0].Input"/>
        <span asp-validation-for="TestCases[0].Input" class="text-danger"></span>
        <input id="output_0" name="TestCases[0].Output" class="form-control" placeholder="output_0" value="@Model.TestCases[0].Output"/>
        <span asp-validation-for="TestCases[0].Output" class="text-danger"></span>
        @if (Model.TestCases.Count > 1)
        {
            for (int i = 1; i < Model.TestCases.Count; i++)
            {
                <input id="input_@i" name="TestCases[@i].Input" class="form-control" placeholder="input_@i" value="@Model.TestCases[i].Input"/>
                <span asp-validation-for="TestCases[i].Input" class="text-danger"></span>
                <input id="output_@i" name="TestCases[@i].Output" class="form-control" placeholder="output_@i" value="@Model.TestCases[i].Output"/>
                <span asp-validation-for="TestCases[i].Output" class="text-danger"></span>
                <button name="btnDeleteTestCase_@i" type="button" class="btn btn-default" value="@i">X</button>
            }
        }
    </div>

    <div class="form-group">
        <button id="btnAddTestCase" type="button" class="btn btn-info">Add test case</button>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Add task</button>
    </div>
</form>