@using Axe.Models;
@model Axe.ViewModels.CompilerVm.CodeBlockSolveVm

@{
    ViewData["Title"] = "Solve task #" + Model.Id;
}

@section Scripts
{
    <script src="~/js/compiler.solve.js"></script>
    @if (Model.isMonitoringMode && ViewData["observedUserId"] != null)
    {
        <script src="~/js/compiler.solve.observer.js"></script>
    }
    else
    {
        <script src="~/js/compiler.solve.user.js"></script>
    }
}

@if (Model.isMonitoringMode && ViewData["observedUserId"] != null)
{
    <input id="observedUserId" value="@ViewData["observedUserId"]" hidden="hidden" />
}

<input id="taskId" asp-for="Id" value="@Model.Id" hidden />
<input asp-for="Task" value="@Model.Task" hidden />

<div class="row" style="margin-top: 1em;">
    <div class="col-md-4">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Task #: </b>@Model.Id</div>
                <div class="panel-body">@Model.Task</div>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="Technology" class="col-md-12"></label>
            <input asp-for="SelectedTechnologyId" value="@Model.Technology.Id" type="hidden" />
            <div class="col-md-12">
                <input id="selectedTechnology" value="@Model.Technology.Name" disabled="disabled" class="form-control disabled" />
            </div>
        </div>
    </div>

    <div class="col-md-8">
        <div class="form-group">
            <label asp-for="SourceCode"></label>
            <div>
                <textarea id="sourceCodeTextArea" asp-for="SourceCode" rows="15" class="form-control">@Model.SourceCode</textarea>
            </div>
        </div>
        @if (!(Model.isMonitoringMode && ViewData["observedUserId"] != null))
        {
            <div class="form-group">
                <div class="col-md-4">
                    <button id="btnAutosave" type="button" data-toggle="button" aria-pressed="false" autocomplete="off" class="form-control btn btn-primary btn-block">Autosave</button>
                </div>
                <div class="col-md-4">
                    <button id="btnSave" type="button" class="form-control btn btn-primary btn-block">Save</button>
                </div>
                <div class="col-md-4">
                    <input id="btnCheck" type="button" value="Check" class="form-control btn btn-primary btn-block" />
                </div>
            </div>
        }
    </div>
</div>

<div id="divOutput" class="row" hidden style="margin-top: 1em;">
    <div class="col-md-12">
        <div id="outputPanel" class="panel">
            <div class="panel-heading"></div>
            <div class="panel-body"></div>
        </div>
    </div>
</div>

<div class="row" style="margin-top: 1em;">
    <div class="col-md-2">
        @if (!(Model.isMonitoringMode && ViewData["observedUserId"] != null))
        {
            <a asp-controller="Compiler" asp-action="Index" class="btn btn-default btn-block">Back to list</a>
        }
        else
        {
            <a asp-controller="Compiler" asp-action="Observe" class="btn btn-default btn-block">Back to list</a>
        }
    </div>
</div>

<div id="divMessages" class="row" style="margin-top: 1em;">
    <div class="col-md-12">
        @if (Model.DateLastChanges != DateTime.MinValue)
        {
            <div id="alertLastChanges" class="alert alert-info">
                <strong>Info!</strong> Your last changes were loaded on @Model.DateLastChanges
            </div>
        }
    </div>
</div>