@model Axe.Models.RealtimeQuiz

@{
    ViewData["Title"] = "Ask";
}

@section Scripts
{
    <script src="~/js/qiuz.participate.js"></script>
}

<input type="hidden" id="userId" value="@ViewData["UserId"]" />
<input type="hidden" id="quizId" value="@Model.Id" />

<h2><kbd>@Model.Title</kbd> quiz</h2>
<hr />

<div class="row">
    <div class="col-md-6 form-group">
        <pre id="question">@Model.LastQuestion</pre>
    </div>
</div>

<div class="row">
    <div class="col-md-6 form-group">
        <table class="table">
            <thead>
                <tr>
                    <th>User</th>
                    <th>Answer</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="inbox">
                @foreach (var p in Model.Participants.Where(u => null == u.IsEvaluated))
                {
                    <tr value="@p.UserId">
                        <td>@p.User?.UserName</td>
                        <td>@p.LastAnswer</td>
                        <td><label class="label label-success"><span class="glyphicon glyphicon-ok"></span></label></td>
                        <td><label class="label label-danger"><span class="glyphicon glyphicon-remove"></span></label></td>
                    </tr>

                }
            </tbody>
        </table>
    </div>

    <div class="col-md-6">
        <table class="table">
            <thead>
                <tr><th>User</th><th>Score</th></tr>
            </thead>
            <tbody id="scores">
                @foreach(var p in Model.Participants.OrderByDescending(u => u.Score))
                {
                    <tr value="@p.UserId">
                        <td>@p.User?.UserName</td>
                        <td>@p.Score</td>
                    </tr>

                }
            </tbody>
        </table>
    </div>
</div>

<br />
<h3>Ask a new question</h3>
<div class="row">
    <div class="col-md-6 form-group">
        <textarea id="msg" rows="8" class="form-control"></textarea>
    </div>
</div>

<br />

<div class="form-group">
    <span id="send_question" class="btn btn-primary">Send</span>
</div>