@model IEnumerable<Axe.Models.ProfileViewModels.IndexVm>

@{
    ViewData["Title"] = "Index";
}

<br/>

@*https://docs.microsoft.com/en-us/aspnet/core/tutorials/first-mvc-app/search*@
<form asp-controller="Profiles" asp-action="index" method="get" class="form-inline">    
    <div class="form-group">
        <label>Search</label>
        <input type="text" name="userFilter" value="@ViewData["userFilter"]" class="form-control"/>
        <input type="submit" value="GO" class="btn btn-primary"/>
    </div>
</form>
<hr/>

@foreach (var item in Model.Select((u, i) => new { user = u, idx = i % 3 }))
{
    @if (item.idx == 0)
    {
        @:<div class="row">
    }
    <div class="col-md-4">
        <a href="@Url.Action("Visit", "Profiles", new { id = item.user.Id })">
            <div class="row userCard">
                <div class="col-sm-2">
                    <img src="https://avatars1.githubusercontent.com/u/30412176?v=4&s=460" width="40" height="40" />
                </div>
                @*user card*@
                <div class="col-sm-10">                        
                    <h4>@item.user.UserName</h4>
                    
                    @if (item.user.JobPosition != null)
                    {
                        <p>@item.user.JobPosition</p>
                    }

                    @if (item.user.ContactInfo != item.user.UserName)
                    {
                        <p>@item.user.ContactInfo</p>
                    }

                    @if (item.user.Skills != null)
                    {
                        <p>
                            @foreach (var skill in item.user.Skills.Where(t => t.ExamScore.HasValue).OrderByDescending(t => t.ExamScore))
                            {
                                <kbd value="@skill.Technology.Id">
                                    @skill.Technology.Name
                                </kbd>

                                <code title="@skill.ExamDate">@skill.ExamScore</code>
                                @Html.Raw("&nbsp")
                            }
                        </p>
                    }
                </div>
            </div>
        </a>
    </div>

    @if (item.idx == 3)
    {
        @:</div>
    }
}
</div>

@*<table class="table">
    <thead>
        <tr>            
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                @Html.ActionLink("Profiles", "Visit", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>*@
