@model Axe.Models.ProfilesVm.ProfileDetailsVm

<p class="text-success">@ViewData["StatusMessage"]</p>

<input type="hidden" value="@Model.Id" />

<div>
    @*personal info*@
    <div class="row">
        <div class="col-md-3">
            <img src="@Url.Action("GetAvatar", "Profiles", new { id = Model.Id })" alt="Profile Image" width="230" height="230" />
        </div>
        <div class="col-md-9">
            <div class="row bg-info">
                <h2 class="">
                    @Model.UserName

                    @if (Model.JobPosition != null)
                    {
                        <span> (@Model.JobPosition) </span>
                    }
                </h2>
            </div>

            @if (Model.Self)
            {
                @*profile setting*@
                <div class="row">
                    <div class="col-md-1">
                        <a asp-controller="Profiles" asp-action="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>edit
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a asp-controller="Profiles" asp-action="ChangePassword">
                            <span class="glyphicon glyphicon-lock"></span>security
                        </a>
                    </div>
                </div>
            }
            <hr />

            <div class="row">
                <div class="col-md-2 bg-info">
                    <h4> <span class=""> Contacts </span> </h4>
                </div>
                <div class="col-md-10">
                    <h4><code> @Model.ContactInfo </code></h4>
                </div>
            </div>

            @if (Model.ExpertKnowledge.Count > 0)
            {
                <div class="row">
                    <div class="col-md-2 bg-info">
                        <h4>
                            <span class=""> Expert </span>
                        </h4>
                    </div>
                    <div class="col-md-10">

                        <h4>
                            @foreach (var t in Model.ExpertKnowledge)
                            {
                                <label class="label label-primary">@t.Name</label>
                            }
                        </h4>

                    </div>
                </div>
            }

            @if (Model.Skills.Count > 0)
            {
                <div class="row">
                    <div class="col-md-2 bg-info">
                        <h4>
                            <span class=""> Skills </span>
                        </h4>
                    </div>

                    <div class="col-md-10">
                        <h4>
                            @foreach (var skill in Model.Skills.OrderByDescending(t => t.ExamScore))
                            {
                                <a asp-controller="Assessments" asp-action="Details" asp-route-id="@skill.Id">
                                    <kbd value="@skill.Technology.Id" title="@skill.ExamDate">
                                        @skill.Technology.Name
                                    </kbd>

                                    @if (skill.ExamScore.HasValue)
                                    {
                                        <code>@skill.ExamScore</code>
                                    }
                                    else
                                    {
                                        <code>?</code>
                                    }
                                    @Html.Raw("&nbsp")
                                </a>
                            }

                            @if (false == Model.Self)
                            {
                                <code title="Assign new skill assessment">
                                    @Html.ActionLink("New Assessment", "Input", "Assessments", new { studentId = Model.Id, technologyId = Model.SelectedTechnology?.Id })
                                </code>
                            }
                        </h4>
                    </div>
                </div>
            }

        </div>
    </div>

    <hr />

    @*exams*@
    <div class="row">
        <form asp-controller="Profiles" asp-action="Visit">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">

                    @foreach (var t in Model.Technologies)
                    {
                        string active = t.Id == Model.SelectedTechnology?.Id ? "active" : null;
                        <li class="@active">@Html.ActionLink(t.Name, "Visit", "Profiles", new { technologyId = t.Id })</li>
                    }
                </ul>
            </div>
        </form>

        <div class="col-md-10">
            <ul id="examTabs" class="nav nav-tabs nav-justified">
                @{
                    string noExams = "active";
                    @if (Model.Tasks != null)
                    {
                        noExams = null;
                        <li class="active"><a data-toggle="tab" href="#menuExams">Exams</a></li>
                    }
                }
                <li class="@noExams"><a data-toggle="tab" href="#menuBest">Best Scores</a></li>
                <li><a data-toggle="tab" href="#menuAll">All Attempts</a></li>
                <li><a data-toggle="tab" href="#menuSkills">Skill assessments</a></li>
            </ul>

            <br />

            <div class="tab-content">
                @*take exams*@
                @if (Model.Self)
                {
                    <div id="menuExams" class="tab-pane fade in active">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Objective</th>
                                    <th>Take a test</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.Tasks)
                                {
                                    <tr>
                                        <td>@t.Title</td>
                                        <td>@t.Objective</td>
                                        <td>
                                            <a href="@Url.Action("Take", "Exams", new { taskId = t.Id })" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-education"></span>
                                                <span>Lets do it</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @*best scores*@
                <div id="menuBest" class="tab-pane fade in @noExams">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-th"></span></th>
                                <th>Date</th>
                                <th>Technology</th>
                                <th>Exam</th>
                                <th>Score</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.BestAttempts.OrderByDescending(a => a.ExamScore))
                            {
                                <tr>
                                    <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    <td>@a.ExamDate</td>
                                    <td>@a.Technology.Name</td>
                                    <td>@a.Task.Title</td>
                                    <td>@a.ExamScore of @a.MaxScore</td>
                                    <td>
                                        @Html.ActionLink("Results", "Result", "Exams", new { id = a.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*all attempts*@
                <div id="menuAll" class="tab-pane fade">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-th"></span></th>
                                <th>Date</th>
                                <th>Exam</th>
                                <th>Score</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.AllAttempts.OrderByDescending(a => a.ExamDate))
                            {
                                <tr>
                                    <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    <td>@a.ExamDate</td>
                                    <td>@a.Task.Title</td>
                                    <td>@a.ExamScore of @a.MaxScore</td>
                                    <td>
                                        @Html.ActionLink("Results", "Result", "Exams", new { id = a.Id })
                                        @if (Model.Self)
                                        {
                                            @Html.Raw(" | ")
                                            @Html.ActionLink("Delete", "Delete", "Exams", new { id = a.Id })
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div id="menuSkills" class="tab-pane fade">
                    <table class="table">
                        <thead>
                            <tr>
                                <th><span class="glyphicon glyphicon-th"></span></th>
                                <th>Examiner</th>
                                <th>Date</th>
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.Assessments.OrderByDescending(a => a.ExamDate))
                            {
                                var success = a.IsPassed == true ? "success" : null;
                                <tr class="@success">
                                    <td>
                                        @if (a.IsPassed == true)
                                        {
                                            <span class="glyphicon glyphicon-thumbs-up"></span>
                                        }
                                    </td>
                                    <td>@a.Examiner?.UserName</td>
                                    <td>@a.ExamDate</td>
                                    <td>@a.ExamScore</td>
                                    <td>
                                        @Html.ActionLink("details", "Details", "Assessments", new { id = a.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @if (false == Model.Self)
                    {
                        @Html.ActionLink("Add", "Input", "Assessments", new { studentId = Model.Id, technologyId = Model.SelectedTechnology?.Id }, new { @class = "btn btn-primary" })
                    }
                </div>
            </div>
        </div>
    </div>
</div>
