@model Axe.Models.ProfileViewModels.ProfileInfoVm

<p class="text-success">@ViewData["StatusMessage"]</p>

<input type="hidden"  value="@Model.Id"/>

<div>
    @*personal info*@
    <div class="row">
        <div class="col-md-3">
            <img src="https://avatars1.githubusercontent.com/u/30412176?v=4&s=460" width="230" height="230"/>
        </div>
        <div class="col-md-9">
            <div class="row bg-info">
                <h2 class="">
                    @Model.UserName

                    @if (Model.JobPosition != null)
                    {
                        <span> (@Model.JobPosition) </span>
                    }
                </h2>
            </div>

            @if (Model.Self)
            {
                @*profile setting*@
                <div class="row">
                    <div class="col-md-1">
                        <a asp-controller="Profiles" asp-action="Edit">
                            <span class="glyphicon glyphicon-pencil"></span>edit
                        </a>
                    </div>

                    <div class="col-md-2">
                        <a asp-controller="Profiles" asp-action="ChangePassword">
                            <span class="glyphicon glyphicon-lock"></span>security
                        </a>
                    </div>
                </div>
            }

            <div class="row">
                <h3> <span class="label label-primary"> Contacts </span> </h3>

                <h4><code> @Model.ContactInfo </code></h4>
            </div>

            <div class="row">
                <h3> 
                    <span class="label label-primary"> Skills </span> 
                </h3>
                
                <h4>
                    @foreach (var skill in Model.Skills.OrderByDescending(t => t.ExamScore))
                    {
                        <a asp-controller="Assessments" asp-action="Details" asp-route-id="@skill.Id">
                            <kbd value="@skill.Technology.Id" title="@skill.ExamDate">
                                @skill.Technology.Name
                            </kbd>

                            @if (skill.ExamScore.HasValue)
                            {
                                <code>@skill.ExamScore</code>
                            }
                            else
                            {
                                <code>?</code>
                            }
                            @Html.Raw("&nbsp")
                        </a>
                    }

                    @if (false == Model.Self)
                    {                        
                        <code title="Assign new skill assessment">
                            @Html.ActionLink("New Assessment", "Create", "Assessments", new { studentId = Model.Id, technologyId = Model.SelectedTechnology?.Id })
                        </code>
                    }
                </h4>
            </div>

        </div>
    </div>

    <hr />

    @*exams*@
    <div class="row">
        <form asp-controller="Profiles" asp-action="Visit">
            <div class="col-md-2">
                <ul class="nav nav-pills nav-stacked">

                    @foreach (var t in Model.Technologies)
                    {
                        string active = t.Id == Model.SelectedTechnology?.Id ? "active" : null;
                        <li class="@active">@Html.ActionLink(t.Name, "Visit", "Profiles", new { technologyId = t.Id })</li>
                    }
                </ul>
            </div>
        </form>

        <div class="col-md-10">
            <ul class="nav nav-tabs nav-justified">
                @{
                    string noExams = "active";
                    @if (Model.Tasks != null)
                    {
                        noExams = null;
                        <li class="active"><a data-toggle="tab" href="#menuExams">Exams</a></li>
                    }
                }
                <li class="@noExams"><a data-toggle="tab" href="#menuBest">Best Scores</a></li>
                <li><a data-toggle="tab" href="#menuAll">All Attempts</a></li>
                <li><a data-toggle="tab" href="#menuSkills">Skill assessments</a></li>
            </ul>
            
            <br/>

            <div class="tab-content">
                @*take exams*@
                @if (Model.Self)
                {
                    <div id="menuExams" class="tab-pane fade in active">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Title</th>
                                    <th>Objective</th>
                                    <th>Take a test</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var t in Model.Tasks)
                                {
                                    <tr>
                                        <td>@t.Title</td>
                                        <td>@t.Objective</td>
                                        <td>
                                            <a href="@Url.Action("Take", "Exams", new { id = t.Id })" class="btn btn-primary">
                                                <span class="glyphicon glyphicon-education"></span>
                                                <span>Lets do it</span>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                }

                @*best scores*@
                <div id="menuBest" class="tab-pane fade in @noExams">
                    <table class="table table-striped">
                        <thead>
                            <tr>                                
                                <th></th>
                                <th>Date</th>
                                <th>Technology</th>
                                <th>Exam</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.BestAttempts.OrderByDescending(a=>a.ExamScore))
                            {
                                <tr>
                                    <td><span class="glyphicon glyphicon-thumbs-up"></span></td>
                                    <td>@a.ExamDate</td>
                                    <td>@a.Technology.Name</td>
                                    <td>@a.Task.Title</td>
                                    <td>@a.ExamScore</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @*all attempts*@
                <div id="menuAll" class="tab-pane fade">                    
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Exam</th>
                                <th>Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.AllAttempts.OrderByDescending(a=>a.ExamDate))
                            {
                                <tr>
                                    <td>@a.ExamDate</td>
                                    <td>@a.Task.Title</td>
                                    <td>@a.ExamScore</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                <div id="menuSkills" class="tab-pane fade">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Examiner</th>
                                <th>Date</th>                                
                                <th>Score</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var a in Model.Assessments.OrderByDescending(a => a.ExamDate))
                            {
                                var success = a.IsPassed == true ? "success" : null;
                                <tr class="@success">
                                    <td>@a.Examiner?.UserName</td>
                                    <td>@a.ExamDate</td>
                                    <td>@a.ExamScore</td>
                                    <td>
                                        @Html.ActionLink("details", "Details", "Assessments", new { id = a.Id })
                                        @if (a.ExamScore.HasValue == false)
                                        {
                                            <span>|</span>
                                            @Html.ActionLink("edit", "Edit", "Assessments", new { id = a.Id });
                                            <span>|</span>
                                            @Html.ActionLink("delete", "Delete", "Assessments", new { id = a.Id });
                                        }
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>

                    @Html.ActionLink("Add", "Create", "Assessments", new { studentId = Model.Id, technologyId = Model.SelectedTechnology?.Id }, new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
    </div>

    @*<h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
            {
                <a asp-controller="Profiles" asp-action="ChangePassword" class="btn-bracketed">Change</a>
            }
            else
            {
                <a asp-controller="Profiles" asp-action="SetPassword" class="btn-bracketed">Create</a>
            }
        </dd>
        <dt>External Logins:</dt>
        <dd>

            @Model.Logins.Count <a asp-controller="Profiles" asp-action="ManageLogins" class="btn-bracketed">Manage</a>
        </dd>
        <dt>Phone Number:</dt>
        <dd>
            <p>
                Phone Numbers can be used as a second factor of verification in two-factor authentication.
                See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for details on setting up this ASP.NET application to support two-factor authentication using SMS.
            </p>
            
        @(Model.PhoneNumber ?? "None")
                @if (Model.PhoneNumber != null)
                {
                    <br />
                    <a asp-controller="Profiles" asp-action="AddPhoneNumber" class="btn-bracketed">Change</a>
                    <form asp-controller="Manage" asp-action="RemovePhoneNumber" method="post">
                        [<button type="submit" class="btn-link">Remove</button>]
                    </form>
                }
                else
                {
                    <a asp-controller="Profiles" asp-action="AddPhoneNumber" class="btn-bracketed">Add</a>
                }

        </dd>

        <dt>Two-Factor Authentication:</dt>
        <dd>
            <p>
                There are no two-factor authentication providers configured. See <a href="https://go.microsoft.com/fwlink/?LinkID=532713">this article</a>
                for setting up this application to support two-factor authentication.
            </p>

            @if (Model.TwoFactor)
                {
                    <form asp-controller="Profiles" asp-action="DisableTwoFactorAuthentication" method="post" class="form-horizontal">
                        Enabled <button type="submit" class="btn-link btn-bracketed">Disable</button>
                    </form>
                }
                else
                {
                    <form asp-controller="Profiles" asp-action="EnableTwoFactorAuthentication" method="post" class="form-horizontal">
                        <button type="submit" class="btn-link btn-bracketed">Enable</button> Disabled
                    </form>
                }

        </dd>
    </dl>*@
</div>
