@model IEnumerable<Axe.Models.ProfileViewModels.IndexViewModel>

@{
    ViewData["Title"] = "Index";
}

<div>    
        <em>Search</em>        
        <input type="text" />    
</div>

@foreach (var item in Model.Select((u, i) => new { user = u, idx = i % 3 }))
{
    @if (item.idx == 0)
    {
        @:<div class="row">
    }
    <div class="col-md-4">
        <a href="@Url.Action("Visit", "Profile", new { id = item.user.Id })">
            <div class="row userCard">
                <div class="col-sm-2">
                    <img src="https://avatars1.githubusercontent.com/u/30412176?v=4&s=460" width="40" height="40" />
                </div>
                <div class="col-sm-10">                        
                    <h4>@item.user.UserName</h4>
                </div>
            </div>
        </a>
    </div>

    @if (item.idx == 3)
    {
        @:</div>
    }
}
</div>

@*<table class="table">
    <thead>
        <tr>            
                <th>
                    @Html.DisplayNameFor(model => model.UserName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ContactInfo)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContactInfo)
            </td>
            <td>
                @Html.ActionLink("Profile", "Visit", new { id = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>*@
