@model Axe.Models.QuestionsVm.QuestionInputVm

@{
    ViewData["Title"] = "Question Editor";
}

@section Scripts
{
    <script src="~/js/mdParser.js"></script>
    <script src="~/js/questions.input.js"></script>
}

<h2>Ask a question</h2>

<form asp-action="Input" asp-controller="Questions" method="post">

    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <input type="hidden" id="EditorType" name="EditorType" value="@Model.EditorType" />

        <div class="form-group">
            <label asp-for="TechnologyId" class="control-label"></label>
            <div class="row">
                <div class="col-md-6">
                    <select asp-for="TechnologyId" class="form-control" asp-items="@Model.Technologies"></select>
                </div>
            </div>
            <span asp-validation-for="TechnologyId" class="text-danger"></span>
        </div>

        <label asp-for="Text" class="control-label"></label>

        <div class="row">
            <div class="col-md-6 form-group">
                <textarea asp-for="Text" class="form-control" rows="16" id="rawText"></textarea>
                <span asp-validation-for="Text" class="text-danger"></span>
            </div>

            <div class="col-md-6 codeblock">
                <div class="table-responsive" id="decoratedText">
                    @Model.Text
                </div>
            </div>
        </div>
    </div>

    <div class="row form-group">
        <div class="btn-group col-md-8">
            <button class="btn btn-default" type="submit" value="0" name="etp">
                <span class="glyphicon glyphicon-tags"></span> &nbsp; Multi Choice
            </button>
            <button class="btn btn-default" type="submit" value="1" name="etp">
                <span class="glyphicon glyphicon-tag"></span>  &nbsp; Single Choice
            </button>
            <button class="btn btn-default" type="submit" value="2" name="etp">
                <span class="glyphicon glyphicon-duplicate"></span> &nbsp; Multi Line
            </button>
            <button class="btn btn-default" type="submit" value="3" name="etp">
                <span class="glyphicon glyphicon-file"></span> &nbsp; Single Line
            </button>
            <button class="btn btn-default" type="submit" value="4" name="etp">
                <span class="glyphicon glyphicon-sort-by-attributes"></span> &nbsp; Priority
            </button>
        </div>
    </div>


    @if (Model.WithUserInput)
    {
        <div class="row">
            <div class="form-group col-md-6">
                <label class="control-label">Answer text</label>

                <input type="hidden" asp-for="@Model.Answers[0].Id" />
                <input type="hidden" asp-for="@Model.Answers[0].Value" />
                @if (Model.EditorType == Axe.Models.TaskQuestionType.SingleLine)
                {
                    <input asp-for="@Model.Answers[0].Text" class="form-control col-md-6" />
                }
                else
                {
                    <textarea asp-for="@Model.Answers[0].Text" class="form-control col-md-6" rows="4"></textarea>
                }
            </div>

            <div class="form-group col-md-6">
                <label class="control-label">Score</label>
                <div>                    
                    <input asp-for="@Model.Answers[0].Score" class="form-control answer-score"/>
                </div>
            </div>
        </div>
    }
    else
    {
        <div class="form-group">

            <div class="row form-group">
                <div class="col-md-10">
                    <label class="control-label">Answer text</label>
                </div>

                <div class="col-md-1">
                    <label class="control-label">Value</label>
                </div>

                <div class="col-md-1">
                    <label class="control-label">Score</label>
                </div>
            </div>

            @for (int i = 0; i < Model.Answers.Count; i++)
            {
                <div class="row form-group">

                    <div class="col-md-10">
                        <input type="hidden" asp-for="@Model.Answers[i].Id" />
                        <input asp-for="@Model.Answers[i].Text" class="form-control" />
                        <span asp-validation-for="@Model.Answers[i].Text" class="text-danger"></span>
                    </div>

                    <div class="col-md-1">
                        @if (Model.EditorType == Axe.Models.TaskQuestionType.SingleChoice)
                        {
                            <input asp-for="SelectedAnswer" type="radio" value="@i" />
                        }
                        else if (Model.EditorType == Axe.Models.TaskQuestionType.MultiChoice)
                        {
                            @Html.CheckBoxFor(m => m.Answers[i].IsCorrect)
                        }
                        else if (Model.EditorType == Axe.Models.TaskQuestionType.PrioritySelection)
                        {
                            <select asp-for="@Model.Answers[i].Value" asp-items="@Model.PriorityOptions">
                                <option>=</option>
                            </select>
                        }
                    </div>

                    <div class="col-md-1">                        
                        <input asp-for="@Model.Answers[i].Score" class="form-control answer-score" />
                        <span asp-validation-for="@Model.Answers[i].Score" class="text-danger"></span>
                    </div>
                </div>
            }
        </div>

        <div class="row">
            <div class="btn-group col-md-3">
                <input type="submit" value="&nbsp;Add&nbsp;" name="cmd" class="btn btn-default" title="Add an answer" />
                @if (Model.Answers.Count > 1)
                {
                    <input type="submit" value="Remove" name="cmd" class="btn btn-default" title="Remove last answer" />
                }                
            </div>
            <div class="col-md-1 col-md-offset-8" title="Total score">
                <span id="totalScore" class="label"></span>                
            </div>
        </div>            
    }

    <hr />
    <div class="row">
        <div class="col-md-2">
            @Html.ActionLink("Back to Technologies", "Index", "Technologies", new { technologyId = Model.TechnologyId })
        </div>
        <input type="submit" value="Save" name="cmd" class="btn btn-primary" />
    </div>
</form>




