@using Axe.Models
@model Axe.Models.ExamTasksVm.TaskInputVm

@{
    ViewData["Title"] = "Task Editor";
}

@section Scripts
{    
    <script src="~/js/tasks.input.js"></script>
}

<h2>Create @Model.TechnologyName Test Task</h2>

<form asp-action="Input">
    <div class="form-group">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="@Model.Id" />
        <input type="hidden" asp-for="@Model.TechnologyId" />

        <label asp-for="Title" class="control-label"></label>

        <div class="form-group row">            
            <div class="col-md-6">
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </div>

        <label asp-for="Objective" class="control-label"></label>

        <div class="form-group row">            
            <div class="col-md-6">
                <input asp-for="Objective" class="form-control" />                
                <span asp-validation-for="Objective" class="text-danger"></span>
            </div>
        </div>

        <label asp-for="IsDemonstration" class="control-label"></label>

        <div class="form-group row">
            <div class="col-md-6">
                @Html.CheckBoxFor(m => m.IsDemonstration)
                <span asp-validation-for="IsDemonstration" class="text-danger"></span>
            </div>
        </div>

        <label asp-for="Questions" class="control-label"></label>

        <div class="form-group row">                        
            <div class="col-md-3">
                <input id="questionsSearch" type="text" class="form-control" placeholder="Search">
            </div>

            <label id="searchReset" class="btn btn-default" title="Clear search"><span class="glyphicon glyphicon-flash"></span></label>            
        </div>

        <div class="form-group row">
            <div class="table-responsive">
                <table class="table" id="questionsTable">
                    <tbody>
                        @for (int i = 0; i < Model.Questions.Count; i++)
                        {
                            <tr title="@Model.Questions[i].Type @Model.Questions[i].Text">
                                <td>
                                    <input type="hidden" asp-for="@Model.Questions[i].Id" />
                                    @Html.CheckBoxFor(m => m.Questions[i].IsSelected)
                                </td>                                
                                <td>
                                    <p>@Model.Questions[i].Preview</p>
                                </td>
                                <td>
                                    @switch (Model.Questions[i].Type)
                                    {
                                        case TaskQuestionType.MultiChoice: <span class="glyphicon glyphicon-tags">&nbsp; MultiChoice</span>
                                        break;
                                        case TaskQuestionType.SingleChoice: <span class="glyphicon glyphicon-tag">&nbsp; SingleChoice</span>
                                        break;
                                        case TaskQuestionType.MultiLine: <span class="glyphicon glyphicon-duplicate">&nbsp; MultiLine</span>
                                        break;
                                        case TaskQuestionType.SingleLine: <span class="glyphicon glyphicon-file">&nbsp; SingleLine</span>
                                        break;
                                    }
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>
            </div>
        </div>

        <hr />
        <div class="form-group row">
            <div class="col-md-10">
                @Html.ActionLink("Back to Technologies", "Index", "Technologies", new { technologyId = Model.TechnologyId })
            </div>
            <div class="col-md-2">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
</form>
