@using Axe.Models
@model Axe.Models.TechnologiesVm.TechnologiesIndexVm

@{
    ViewData["Title"] = "Technologies";
}

<br />

@if (Model.SelectedTechnology != null)
{
    <div class="row">
        <div class="jumbotron">
            <h2><kbd>@Model.SelectedTechnology.Name</kbd></h2>
            <p>@Model.SelectedTechnology.InformationText</p>
        </div>
    </div>
}

<div class="row">
    <div class="btn-group">
        @Html.ActionLink("Add", "Input", "Technologies", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Edit", "Input", "Technologies", new { id = Model.SelectedTechnology?.Id }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Delete", "Delete", "Technologies", new { id = Model.SelectedTechnology?.Id }, new { @class = "btn btn-default" })
    </div>
    <hr />
</div>

<div class="row">

    <div class="col-md-2">
        <form asp-controller="Profiles" asp-action="Visit">
            <ul class="nav nav-pills nav-stacked">

                @foreach (var t in Model.Technologies)
                {
                    string active = t.Id == Model.SelectedTechnology?.Id ? "active" : null;
                    <li class="@active">@Html.ActionLink(t.Name, "Index", "Technologies", new { technologyId = t.Id })</li>
                }
            </ul>
        </form>
    </div>

    <div class="col-md-10">
        <ul id="techTabs" class="nav nav-tabs nav-justified">
            <li class="active"><a data-toggle="tab" href="#menuQuestions">Questions</a></li>
            <li><a data-toggle="tab" href="#menuExams">Exams</a></li>
            <li><a data-toggle="tab" href="#menuExperts">Experts</a></li>
            <li><a data-toggle="tab" href="#menuMonitor">Monitor</a></li>
        </ul>

        <div class="tab-content">
            @*exam question*@

            <div id="menuQuestions" class="tab-pane fade in active">
                <div class="table-responsive">
                    <br />
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>
                                    <span class="glyphicon glyphicon-th"></span>
                                </th>
                                <th>Question</th>
                                <th>Type</th>
                                <th>Author</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Questions.Select((q, i) => new { question = q, idx = i + 1 }))
                            {
                                <tr>
                                    <td>@item.idx</td>
                                    <td title="@item.question.Text">@item.question.Preview</td>
                                    <td>
                                        @switch (@item.question.Type)
                                        {
                                            case TaskQuestionType.MultiChoice: <span class="glyphicon glyphicon-tags">&nbsp; Multi-Choice</span>
                                            break;
                                            case TaskQuestionType.SingleChoice: <span class="glyphicon glyphicon-tag">&nbsp; Single-Choice</span>
                                            break;
                                            case TaskQuestionType.MultiLine: <span class="glyphicon glyphicon-duplicate">&nbsp; Multi-Line</span>
                                            break;
                                            case TaskQuestionType.SingleLine: <span class="glyphicon glyphicon-file">&nbsp; Single-Line</span>
                                            break;
                                        }
                                    </td>
                                    <td>@item.question.Author?.UserName</td>
                                    <td>
                                        @Html.ActionLink("edit", "Input", "Questions", new { id = item.question.Id, technologyId = item.question.TechnologyId })
                                        |
                                        @Html.ActionLink("details", "Details", "Questions", new { id = item.question.Id })
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>

                @if (Model.SelectedTechnology != null)
                {
                    <br />
                    @Html.ActionLink("Add", "Input", "Questions", new { technologyId = Model.SelectedTechnology?.Id }, new { @class = "btn btn-primary" })
                }
            </div>

            @*exams*@
            <div id="menuExams" class="tab-pane fade">
                <br />
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                <span class="glyphicon glyphicon-th"></span>
                            </th>
                            <th>Title</th>
                            <th>Objective</th>
                            <th>Author</th>
                            <th>Questions</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Exams.Select((q, i) => new { exam = q, idx = i + 1 }))
                        {
                            <tr>
                                <td>@item.idx</td>
                                <td>@item.exam.Title</td>
                                <td>@item.exam.Objective</td>
                                <td>@item.exam.Author?.UserName</td>
                                <td>@item.exam.Questions?.Count</td>
                                <td>
                                    @Html.ActionLink("edit", "Input", "Tasks", new { id = item.exam.Id })
                                    |
                                    @Html.ActionLink("details", "Details", "Tasks", new { id = item.exam.Id })
                                </td>
                            </tr>

                        }
                    </tbody>
                </table>


                @if (Model.SelectedTechnology != null)
                {
                    <br />
                    @Html.ActionLink("Add", "Input", "Tasks", new { technologyId = Model.SelectedTechnology?.Id }, new { @class = "btn btn-primary" })
                }
            </div>

            @*Experts*@
            <div id="menuExperts" class="tab-pane fade">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Email</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var e in Model.Experts)
                        {
                            <tr>
                                <td>@Html.ActionLink(e.UserName, "Visit", "Profiles")</td>
                                <td>@e.Email</td>
                                <td>
                                    @{
                                        string category = e.IsExpert ? "default" : "primary";
                                        string linkName = e.IsExpert ? "Exclude" : "Include";
                                        <a href="@Url.Action(linkName+"Expert", new { id = e.Id, technologyId = Model.SelectedTechnology?.Id})">
                                            <label class="btn btn-@category">
                                                @linkName
                                            </label>
                                        </a>
                                    }
                                </td>
                            </tr>

                                        }
                    </tbody>
                </table>
            </div>

            @*Active exams*@
            <div id="menuMonitor" class="tab-pane fade">
                Active exams
            </div>
        </div>
    </div>
</div>