@model Axe.Models.SkillAssessment

@{
    ViewData["Title"] = "Delete Assessment";
}

<h4> @Html.ActionLink(@Model.Student.UserName, "Visit", "Profiles", new { id = Model.Student.Id }) skill assessment</h4>
<h4>Are you sure you want to delete this?</h4>
<hr />


<div>
    <input type="hidden" asp-for="Id" />

    <dl>
        <dt><label asp-for="Technology" class="control-label"></label></dt>
        <dd>@Html.DisplayFor(model => model.Technology.Name)</dd>

        <dt><label asp-for="Examiner" class="control-label"></label></dt>
        <dd>@Html.DisplayFor(model => model.Examiner.UserName)</dd>

        <dt><label asp-for="ExamDate" class="control-label"></label></dt>
        <dd>@Html.DisplayFor(model => model.ExamDate)</dd>
    </dl>

    <hr />
    <form asp-action="Delete">
        <div class="form-group row">
            <div class="col-md-10">
                @Html.ActionLink("Cancel", "Details", "Assessments", new { id = Model.Id })
            </div>

            <div class="form-actions no-color col-md-2">
                <input type="submit" value="Delete" class="btn btn-danger" />
            </div>
        </div>
    </form>
</div>
