@model Axe.Models.AssessmentsVm.AssessmentDetailsVm

@{
    ViewData["Title"] = "Assessment";
}

<h4> @Html.ActionLink(@Model.Student.UserName, "Visit", "Profiles", new { id = Model.Student.Id }) skill assessment</h4>

<hr />

<div class="form-horizontal">

    <dl>
        <dt><label asp-for="Technology" class="control-label"></label></dt>
        <dd>@Html.DisplayFor(model => model.Technology.Name)</dd>

        <dt><label asp-for="Examiner" class="control-label"></label></dt>
        <dd>@Html.DisplayFor(model => model.Examiner.UserName)</dd>

        <dt><label asp-for="ExamDate" class="control-label"></label></dt>
        <dd>@Html.DisplayFor(model => model.ExamDate)</dd>

        @if (Model.ExamScore.HasValue)
        {
            <dt> <label asp-for="ExamScore" class="control-label"></label> </dt>
            <dd> @Html.DisplayFor(model => model.ExamScore) </dd>
        }

        @if (Model.ExamComment != null)
        {
            <dt> <label asp-for="ExamComment" class="control-label"></label> </dt>
            <dd> @Html.DisplayFor(model => model.ExamComment) </dd>
        }

        @if (Model.IsPassed.HasValue)
        {
            <dt> <label asp-for="IsPassed" class="control-label"></label>  </dt>
            <dd>
                @if (Model.IsPassed == true)
                {
                    <span class="label label-success">yes</span>
                }
                else
                {
                    <span class="label label-danger">no</span>
                }
            </dd>
        }
    </dl>

    <hr />

    <div class="form-group">
        <div class="btn-group col-md-3 col-md-offset-1">
            @if (Model.CanEdit)
            {
                @Html.ActionLink("Edit", "Input", "Assessments", new { id = Model.Id }, new { @class = "btn btn-primary" })
            }

            @if (Model.CanMark)
            {
                @Html.ActionLink("Mark", "Mark", "Assessments", new { id = Model.Id }, new { @class = "btn btn-primary" })
            }

            @if (Model.CanDelete)
            {
                @Html.ActionLink("Delete", "Delete", "Assessments", new { id = Model.Id }, new { @class = "btn btn-default" })
            }
        </div>
    </div>

</div>
