@model IEnumerable<Axe.Models.SkillAssessment>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ExamDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ExamScore)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.IsPassed)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.Examiner)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Student)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Technology)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ExamDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExamScore)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPassed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Examiner.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Student.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technology.InformationText)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
